:root {
    --hover-color: rgba(240, 240, 240, 0.1);
    --dark-gray-60: rgb(60,60,60);
    --gray-lines: rgb(233 233 233);
    --laranja-more: #ffa800;
    --background-001: #e7f1ff;

}

body {
    background-color: #1e2447;
    color: #ffa800;
    font-family: 'Open Sans', sans-serif;
}

.main_title {
    color: #ffa800 !important;
    font-weight: bolder;
}

.navbar-brand img {
    max-width: 150px;
}

.content__wrapper {
    display: grid;
    grid-template-columns: minmax(180px, 250px) 2fr;
}

.content__wrapper .navigation {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--hover-color);
}

.content__wrapper .navigation ul {
    padding-left: 0px;
}

.content__wrapper .navigation ul li:hover {
    background-color: var(--hover-color);
}


ul li {
    list-style-type:none;
}

a, a:hover {
    color: rgb(255, 255, 255);
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.user__list .user-grid-template {
    display: grid;
    grid-template-columns: minmax(20px, 40px) minmax(80px,1fr) minmax(250px,3fr) 1fr 1fr;
    padding: .3rem 1rem;
    margin-bottom: 0px;
}

.user__list .heading {
    background-color: var(--dark-gray-60);
    margin-bottom: 0px;
    background-color: #ffa800;
    margin-bottom: 0px;
    color: black;
}

.user__list ul {
    border: 1px solid var(--dark-gray-60);
}

.user__list ul:not(.heading):hover {
    background-color: var(--hover-color);
}

.user__list .actions {
    display: inline-flex;
    gap: .5rem;
}


.list__user {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    background-color: #e7f1ff;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.list__user:hover {
    background-color: var(--hover-color);
}

.list__user .heading {
    font-size: 1.5rem;
    background-color: #ffa800;
    margin-bottom: 0px;
    color: black;
}

.list__user .actions > a {
    padding: 0px 1rem;
}


.list__user li {
    display: inline-flex;
    padding: .1rem .4rem;
}


.list__user p {
    border-bottom: 1px solid #ccc;
}

.list__events {
    padding-left: 0px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--background-001);
    border-radius: 1rem;


}

.list__events li {
    border: 1px solid var(--hover-color);
    padding: .5rem 2rem;
}


.posts .posts_profile {
    text-align: center;
}

.posts .posts_profile i {
    font-size: 5rem;
    margin-bottom: .5rem;
}

.posts .title {
    font-weight: 600;
    font-size: 1.3rem;
}

.posts .post_wrapp {
    position: relative;
    display: grid;
    background-color: #f1f1f1;
    grid-template-columns: minmax(80px, 150px) 1fr;
    border-radius: 1rem;
    padding: .5rem;
    margin-bottom: 1rem;
}

.posts .post_replies {
    position: relative;
    margin-left: 2rem;
    border-radius: 1rem;
    padding: .8rem 1rem;
    margin-bottom: 1rem;
    background-color: #f1f1f1;
    font-size: .9rem;
    color: rgb(59, 59, 59);
}

.posts .post_replies::after {
    content: '';
    width: 30px;
    height: 30px;
    background-color:#f1f1f1;
    position: absolute;
    left: 7rem;
    top: -0.5rem;
    rotate: 45deg;
}


.posts .post_replies_name {
    border-bottom: 1px solid var(--gray-lines);
    font-size: 1.2rem;
    font-weight: 600;
}

.posts .replies_wrapper {
    position: relative;
    margin-bottom: 2rem;
}

.post_control {
    position: absolute;
    display: flex;
    gap: 1rem;
    right: 1rem;
    top: .8rem;
}

.subpost_control {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: .8rem;
    right: 1rem;
}


.listapessoas ul {
    background-color: #e7f1ff;
    padding: 1rem;
    border-radius: 1rem;
}

.navbar {
    margin-bottom: 3rem;
}