{% extends "template.html" %}

<!--Example of a form that will be used with a "normal" POST method instead of a jQuery request -->

{% block title %}
<div class="page-header">
  <h1>Add new user:</h1>
</div>
{% endblock title %}


{% block content %}

<body>
  <div class = "container">

    <div class = row >

        <div class = col>
            <form action="/users/" method="POST" class="border p-4 mt-2">
                {{ form_criarconta.csrf_token }}
                <h1>Criar Conta</h1>
                <fieldset>
                    <div class="form-group">
                        {{ form_criarconta.user_name.label(class="form-control-label")  }}
                        {% if form_criarconta.user_name.errors %}
                            {{ form_criarconta.user_name(class="form-control is-invalid") }}
                        <div class="invalid-feedback">  
                            {% for erro in form_criarconta.user_name.errors %}

                                {{ erro }}

                            {% endfor %}
                        </div>     
                        {% else %}
                            {{ form_criarconta.user_name(class="form-control") }}    
                        {% endif%}
                    </div>

                    <div class="form-group">
                        {{ form_criarconta.name.label(class="form-control-label")  }}
                        {% if form_criarconta.name.errors %}
                            {{ form_criarconta.name(class="form-control is-invalid") }}
                        <div class="invalid-feedback">  
                            {% for erro in form_criarconta.name.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>     
                        {% else %}
                            {{ form_criarconta.name(class="form-control") }}    
                        {% endif%}
                    </div>

                    <div class="form-group">
                        {{ form_criarconta.password1.label(class="form-control-label") }}
                        {% if form_criarconta.password1.errors %}
                            {{ form_criarconta.password1(class="form-control is-invalid") }}
                        <div class="invalid-feedback">  
                            {% for erro in form_criarconta.password1.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>     
                        {% else %}
                            {{ form_criarconta.password1(class="form-control") }}    
                        {% endif%}
                    </div>

                    <div class="form-group">
                        {{ form_criarconta.password2.label(class="form-control-label") }}
                        {% if form_criarconta.password2.errors %}
                            {{ form_criarconta.password2(class="form-control is-invalid") }}
                        <div class="invalid-feedback">  
                            {% for erro in form_criarconta.password2.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>     
                        {% else %}
                            {{ form_criarconta.password2(class="form-control") }}    
                        {% endif%}
                    </div>

                    <div class="form-group">
                      <input type="hidden" id="admin_hidden" value="False" name="admin">
                      {{ form_criarconta.admin }}
                      {{ form_criarconta.admin.label(class="form-check-label"  ) }}
                      
                  </div>

                </fieldset>
                {{ form_criarconta.botao_submit_criarconta(class="btn btn-primary")}}
            </form>
        </div>    
    </div>


</div>
</body>
<!-- JS to enable/disble the checkbox of the hidden input otherwise the check will not send any data to the POST -->
<script>
  const element = document.getElementById("admin");
  element.addEventListener('click', () => {
    if (element.checked) {
      document.getElementById('admin_hidden').disabled = true;
    } else {
      document.getElementById('admin_hidden').disabled = false;
    }
})
</script>

{% endblock content %}
