{% extends "template.html" %}


{% block content %}
<body>
    <div class = "container">

        <h1 class="main_title">Editar Post</h1>
        <br><br>

        <form action="/posts/edit_post/{{post_to_edit.id}}" method="POST">
            <input type="hidden" name="id" value="{{post_to_edit.id}}">
            <label for="title" class="form-control-label"></label>
            <input type="text" id="title" name="title" value="{{post_to_edit.title}}" class="form-control">

            <br><br>

            <label for="description" class="form-control-label"></label>
            <textarea type="textarea" id="description" name="description" value="" class="form-control">{{post_to_edit.description}}</textarea>

            <br><br>

            <button type="submit" class="btn btn-primary">Editar</button>

        </form>

    </div>
</body>
{% endblock %}