{% extends "template.html" %}



{% block content %}
<body>
        
    <h1 class="flex-justify-center main_title">Forum More Devs</h1>
    <br><br>

    <div class="container listapessoas">

    <div class="accordion" id="accordionForum">

    {% for user in all_users %}

        {% if user.posts %}

            {% for post in user.posts %}
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{post.id}}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{post.id}}" aria-expanded="false" aria-controls="collapse{{post.id}}">
                        {{ post.title }}
                    </button>
                </h2>

                <div id="collapse{{post.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{post.id}}" data-bs-parent="#accordionForum">
                    <div class="accordion-body">

                    <!-- Aqui vai o inicio do conteúdo do acordion -->

                    <div class="posts">
                        <div class="post_wrapp">

                        <div class="posts_profile">
                            <i class="fa-solid fa-user"></i>
                            <p>{{ user.user_name }}</p>
                            <p>{{ post.date_created.strftime('%d/%m/%Y')}}</p>
                        </div>
                        <div class="post_body">
                            <p class="title">{{ post.title }}</p>
                            
                            <p>{{ post.description }}</p>
                            
                            {% if user_info[0] == user.id %}
                            <div class="post_control">
                                <a href="/posts/edit_post/{{post.id}}" title="Edit"><i class="fa-solid fa-pencil"></i></a>
                                <a href="#" onclick="deletePost({{ post.id }});return false;" user-delete data-id="{{ user.id }}" title="Delete"><i class="fa-solid fa-trash"></i></a>
                            </div>
                            {% endif %}
                        </div>
                        </div>

                        
                        
                        {% for user_rep in all_users %}
                        
                        {% if user_rep.sub_posts %}
                        
                        

                                    {% for sub_post in user_rep.sub_posts %}
                                    
                                    
                                    <div class="replies_wrapper">
                                        {% if post.id == sub_post.id_post %}
                                        <div class="post_replies">
                                            <p class="post_replies_name">{{ user_rep.user_name }}</p>
                                            
                                            <p>{{ sub_post.description }}</p>
                                            
                                            {% if user_info[0] == user_rep.id %}
                                            <div class="subpost_control">
                                                <a href="#" title="Edit"><i class="fa-solid fa-pencil"></i></a>
                                                <a href="#" onclick="deleteSubPost({{ sub_post.id }});return false;" user-delete data-id="{{ user.id }}" title="Delete"><i class="fa-solid fa-trash"></i></a>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                
                                
        
                                {% endif %}

                            {% endfor %}
        
                        {% include 'form_new_subpost-standalone.html' %}
                            


                        </div>
        

                            
        
                    
 <!--End of div post-->








                    <!-- Fim do conteudo do acordion -->
                    </div>
                </div>





            </div>
            
            {% endfor %}

        {% endif %}

            
    {% endfor %}

    </div>

    </div>

    <br><br>
    <div class="container">
        {% include 'form_new_post-standalone.html' %}
    </div>

</body>
{% endblock content %}

